# Requirements File:

# The following libraries and their versions are required to run the project:

pandas==1.3.3

numpy==1.21.2

scikit-learn==0.24.2

surprise==1.1.1

matplotlib==3.4.3

ipywidgets==7.6.3

requests==2.26.0

streamlit==1.0.0

# These versions ensure compatibility and reproducibility of the project environment.